*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  color: #333;
  background: linear-gradient(39deg, white 0%, #3abeff 49%, white 100%);
}

.form-container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-container form {
  width: 100%;
  max-width: 500px;
  padding: 2rem;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.form-container input,
.form-container select {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.6rem;
}
.form-container label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.6rem;
}
.form-container h1 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 3rem;
}
.form-container p {
  margin-bottom: 1rem;
  font-size: 1.6rem;
}
.form-container button {
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #26a69a;
  color: #fff;
  font-size: 1.6rem;
  cursor: pointer;
}
.form-container button:hover {
  background-color: #2bbbad;
}
.form-container .acknowledgement {
  color: red;
  min-height: 1.6rem;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  margin: 1rem;
  font-size: 1.4rem;
  animation: slideInFromLeft 0.3s ease-in-out;
}
.form-container .acknowledgement.error {
  opacity: 1;
}
.form-container .acknowledgement.error::before {
  content: "⚠ ";
}
.form-container .acknowledgement.success {
  opacity: 1;
  color: green;
}
.form-container .acknowledgement.success::before {
  content: "✓ ";
}
@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.emp-container{
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 20% 30%; */
  padding: 3rem;
}
.grid{
  gap: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
}
.emp {
  background:#fff;
  padding: 1rem;
  border-radius: 1rem;
}
.emp .emp__img {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}
.emp .emp__img img {
  width: auto;
  height: 100%;
  border-radius: 5px;
}
.emp-container h1 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 3rem;
}
.emp_content{
  width: 100%;
}
.emp_content h3{
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}
.emp_lowerbar{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.emp_lowerbar .emp_row{
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  padding:1rem  3rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 1.4rem;
  
  
}
.emp_row:not(:last-child){
  border-bottom: 1px solid #ccc;
}
.emp_row p:nth-child(2){
  width: 50%;
  color : #000000;
}
.emp_row p:first-child{
  color:#26a69a;
  font-weight: bold;
}
a{
  text-decoration: none;
  color: #fff;

  padding: 1rem;
  border-radius: 5px;
  font-size: 1.6rem;
  cursor: pointer;
  text-align: center;
  margin: 1rem;
  position: relative;
  transition: all 0.3s ease-in-out;
}
a::after{
  content: "";
  display: block;
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  background-color: #26a69a;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}
 a:hover::after{
  width: 100%;
}
a:hover{
  scale: 1.1;
}
/* Not Applying on last Row */
