<!DOCTYPE html>
<html lang="en">
	
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/app.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
			rel="stylesheet"
		/>
		<!-- Primary Meta Tags -->
		<title>SEP: Employee Form</title>
		<meta name="title" content="SEP: Employee Form " />
		<meta
			name="description"
			content="Project Topic: Install node js and npm with respective versions 8.10 and 3.5.2 to perform the following server-side scripting problem. Install the NPM package ‘MySQL’ and create one db with table name “EmpInfo” having 5 records of Employee information.
SEP Project 81 By students of FCAIT, GLS University"
		/>
		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://tiny-tuna-tights.cyclic.app/" />
		<meta property="og:title" content="SEP: Employee Form " />
		<meta
			property="og:description"
			content="Project Topic: Install node js and npm with respective versions 8.10 and 3.5.2 to perform the following server-side scripting problem. Install the NPM package ‘MySQL’ and create one db with table name “EmpInfo” having 5 records of Employee information.
SEP Project 81 By students of FCAIT, GLS University"
		/>
		<meta
			property="og:image"
			content="/output.png"
		/>

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta
			property="twitter:url"
			content="https://tiny-tuna-tights.cyclic.app/"
		/>
		<meta property="twitter:title" content="SEP: Employee Form " />
		<meta
			property="twitter:description"
			content="Project Topic: Install node js and npm with respective versions 8.10 and 3.5.2 to perform the following server-side scripting problem. Install the NPM package ‘MySQL’ and create one db with table name “EmpInfo” having 5 records of Employee information.
SEP Project 81 By students of FCAIT, GLS University"
		/>
		<meta
			property="twitter:image"
			content="/output.png"
		/>
		<title><%= title %></title>
	</head>
	<body>
